@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --bg-color: #141414;
    --bg-second-color: #1d1d1d;
    --text-color: white;
    --font-family: 'Roboto', sans-serif;
    --font-size: 14px;
    --accent-color: #1890ff;
    --accent-color-hover: #095cb5;
    --border-color: #434343;
    --danger-color: #a61d24;
    --danger-color-hover: #6a1315;
}

* {
    margin: 0;
    right: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    font-weight: 500;
}


html, body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    padding: 20px;
    background: var(--bg-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
}

::selection {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}

.table th {
    background: var(--bg-second-color);
}

.btn {
    background: var(--accent-color);
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 8px 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background: var(--accent-color-hover);
}

.btn-danger {
    background: var(--danger-color);
}

.btn-danger:hover {
    background: var(--danger-color-hover);
}

.mb {
    margin-bottom: 20px;
}

.label {
    display: flex;
    gap: 20px;
    align-items: center;
}

.card {
    border: 1px solid var(--border-color);
    padding: 20px;
}

.input {
    padding: 4px 11px;
    font-size: 14px;
    line-height: 1.5715;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    transition: all 0.3s;
    background: transparent;
    color: var(--text-color);
}

.input:hover, .input:focus {
    border-color: var(--accent-color);
    outline: none;
}
